.container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

input {
    margin-right: 20px;
    margin-left: 20px;
    padding-left: 20px;
    border: 2px solid gray;
}

.runBtw {
    padding-right: 20px;
    position: relative;
    left: 46.2%;
    margin-top: 24px;
    width: 90px;
    height: 40px;
    background: transparent;
    border: 2px solid gray;
}

table {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border: 1px solid red;
    border-collapse: collapse;
}

td {
    border: 1px solid red;
    width: 120px;
    height: 120px;
    text-align: center;
}
